body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

.core {
    width: 120px;
    height: 120px;
    background: cyan;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 0 50px cyan;
}

.core.listening {
    box-shadow: 0 0 100px cyan;
}

.mic {
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.mic.active {
    color: cyan;
    transform: scale(1.2);
}

#chat {
    height: 200px;
    overflow-y: auto;
}

.msg {
    margin: 5px;
}

.user {
    color: lightgreen;
}

.bot {
    color: cyan;
}
